docker-compose.override.yml
.idea
__pycache__/
*.py[cod]
*$py.class
shared/
.Python
build/
dist/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.manifest
*.spec
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/
*.log
__pypackages__/
.env
.venv
.mypy_cache/
.vscode
