bukhavets.com {
    encode gzip
    log

    handle /webhooks/yookassa* {
        reverse_proxy bot:8080
    }

    handle /webhooks/kie-image* {
        reverse_proxy bot:8080
    }

    handle /webhooks/kie-nano* {
        reverse_proxy bot:8080
    }

    respond 404
}
